*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
    margin:auto;
    margin-top: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

#container-controls{
    border: 2px solid rgb(0, 5, 255);
    padding: 1rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1.5rem;
}

#slider-container{
    border: 2px solid red;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex:1;
}

#slider-bar{
    color:purple;
}

#toggle-container{
    flex:1;
    border:2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

#clear-container{
    flex:1;
    border:2px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#container-board{
    display:flex;
    flex-wrap: wrap;
    width: 40rem;
    height: 40rem;
}

