*{
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-columns: repeat(16, 0fr);
    grid-template-rows: repeat(16, 0fr);
}

.grid-square{
    height: 50px;
    width: 50px;
    border: 2px solid black;
}