*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container{
    margin:auto;
    margin-top: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}

#container-controls{
    border: 2px solid red;
}

#container-board{
    display:flex;
    flex-wrap: wrap;
    width: 40rem;
    height: 40rem;
}
